.animated {
    animation-duration: 1s;
}
 /* Custom CSS for responsiveness */
 @media (max-width: 768px) {
    .nav-link {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .mobile-menu-open .nav-link {
        display: block;
    }
}
.counter {
    font-size: 2rem;
    font-weight: bold;
}
.program-card {
    background-image: url('your-background-image-url.jpg');
    background-size: cover;
    background-position: center;
}
.counter {
    font-size: 2rem;
    font-weight: bold;
}
.program-card {
    background-image: url('your-background-image-url.jpg');
    background-size: cover;
    background-position: center;
}