body{
    overflow-x: hidden !important;
}
.counter {
    font-size: 2rem;
    font-weight: bold;
}
.program-card {
    background-size: cover;
    background-position: center;
}
.counter {
    font-size: 2rem;
    font-weight: bold;
}
.program-card {
    background-size: cover;
    background-position: center;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}